<template>
	<div>
		<v-app-bar
			v-if="isXsOrTouchscreen()"
			id="topNavBar"
			app
			color="primary"
			dark
		>
			<v-spacer></v-spacer>
			<v-app-bar-nav-icon
				id="topNavBarDrawerOpenButton"
				@click="drawer = true"
			></v-app-bar-nav-icon>
		</v-app-bar>
		<v-navigation-drawer
			id="sidebar"
			v-model="drawer"
			:expand-on-hover="!isXsOrTouchscreen()"
			:permanent="!isXsOrTouchscreen()"
			app
		>
			<v-list>
				<v-list-item-group
					id="sidebar-group"
					v-model="linkGroup"
					color="primary"
				>
					<v-list-item to="user-settings" replace link>
						<v-list-item-icon>
							<v-avatar
								id="sidebar-icon-user-settings"
								color="primary"
								size="24"
							>
								<span class="white--text title">{{
									userLetter()
								}}</span>
							</v-avatar>
						</v-list-item-icon>
						<v-list-item-content>
							<v-list-item-title
								id="sidebar-title-user-settings"
								>{{
									$store.state.user.displayName
								}}</v-list-item-title
							>
						</v-list-item-content>
					</v-list-item>
					<v-divider></v-divider>

					<v-list-item
						v-for="page in pages"
						:key="page.title"
						:to="page.link"
						link
						replace
					>
						<v-list-item-icon>
							<v-icon :id="`sidebar-icon-${page.link}`">{{
								page.icon
							}}</v-icon>
						</v-list-item-icon>
						<v-list-item-content>
							<v-list-item-title
								:id="`sidebar-title-${page.link}`"
								>{{ page.title }}</v-list-item-title
							>
						</v-list-item-content>
					</v-list-item>
				</v-list-item-group>
			</v-list>
			<template #append>
				<v-list>
					<v-divider></v-divider>
					<v-list-item @click="logout()">
						<v-list-item-icon>
							<v-icon id="sidebar-icon-logout">{{
								mdiLocationExit
							}}</v-icon>
						</v-list-item-icon>
						<v-list-item-content>
							<v-list-item-title id="sidebar-title-logout"
								>Logout</v-list-item-title
							>
						</v-list-item-content>
					</v-list-item>
				</v-list>
			</template>
		</v-navigation-drawer>
	</div>
</template>

<script lang="ts">
import { Component, Watch } from 'vue-property-decorator';
import {
	mdiAccount,
	mdiAccountCowboyHat,
	mdiLocationExit,
	mdiStore,
	mdiAccountMultiple,
	mdiClipboardEdit
} from '@mdi/js';
import { Mixins } from 'vue-mixin-decorator';
import User from '../mixins/User';

@Component
export default class Sidebar extends Mixins<User>(User) {
	drawer = false;

	linkGroup = false;

	mdiAccountCowboyHat: string = mdiAccountCowboyHat;

	mdiAccount: string = mdiAccount;

	mdiClipboardEdit: string = mdiClipboardEdit;

	mdiLocationExit: string = mdiLocationExit;

	mdiAccountMultiple: string = mdiAccountMultiple;

	mdiStore: string = mdiStore;

	pages: { title: string; icon: string; link: string }[] = [];

	isXsOrTouchscreen(): boolean {
		return (
			this.$vuetify.breakpoint.name === 'xs' ||
			'ontouchstart' in window ||
			navigator.maxTouchPoints > 0 ||
			navigator.msMaxTouchPoints > 0
		);
	}

	created(): void {
		if (this.groups.some((group: Group) => group.name === 'admin')) {
			this.pages.push({
				title: 'Admin',
				icon: mdiAccountCowboyHat,
				link: 'admin'
			});
		}
	}

	userLetter(): string {
		if (this.$store.state.user.displayName) {
			return this.$store.state.user.displayName.charAt(0).toUpperCase();
		}
		return '';
	}

	@Watch('groups')
	updateAdminPage(groups: Group[]): void {
		const isAdmin = groups.some((group: Group) => group.name === 'admin');
		const adminInItems = this.pages.find(item => item.title === 'Admin');
		if (isAdmin && !adminInItems) {
			this.pages.push({
				title: 'Admin',
				icon: mdiAccountCowboyHat,
				link: 'admin'
			});
		}
		if (!isAdmin && adminInItems) {
			this.pages.splice(-1, 1);
			if (this.$router.currentRoute.name === 'admin') {
				this.$router.push({ name: 'userSettings' }).catch(err => err);
			}
		}
		this.$store.state.snackbar = {
			text: `An admin has changed your groups`,
			color: 'info'
		};
	}

	get groups(): Group[] {
		return this.$store.state.user.groups;
	}
}
</script>
