<template>
	<div>
		<div v-for="(snackbar, key, index) in snackbarQueue" :key="key">
			<v-snackbar
				:color="snackbar.color"
				:style="`margin-top: ${
					(Object.keys(snackbarQueue).length - 1 - index) * 55
				}px;`"
				:timeout="-1"
				:value="snackbar.isActive"
				class="infoSnackbar"
				top
				><v-icon>{{ mdiAlertCircleIcon }}</v-icon
				><span
					class="snackbarText"
					style="width: 100%; display: block; text-align: center"
					>{{ snackbar.text }}</span
				>
				<v-btn
					v-if="snackbar.buttonText"
					text
					class="snackbarButton"
					@click="
						buttonFunction(snackbar.buttonFunction, snackbar.id)
					"
				>
					{{ snackbar.buttonText }}
				</v-btn>
			</v-snackbar>
		</div>
	</div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { mdiAlertCircle } from '@mdi/js';

@Component
export default class Snackbar extends Vue {
	mdiAlertCircleIcon: string = mdiAlertCircle;

	snackbarQueue: Record<string, SnackBarObject> = {};

	uniqueSnackbarId = 0;

	getSnackbar = (state: State): SnackBarObject => state.snackbar;

	created(): void {
		this.$store.watch(this.getSnackbar, this.updateSnackbar);
	}

	// eslint-disable-next-line @typescript-eslint/ban-types
	buttonFunction(passedFunction: Function, snackbarId: number): void {
		passedFunction();
		this.snackbarQueue[snackbarId].buttonFunctionCalled = true;
		Vue.delete(this.snackbarQueue, snackbarId);
	}

	updateSnackbar(snackbar: SnackBarObject): void {
		if (snackbar.color && snackbar.text) {
			this.uniqueSnackbarId += 1;
			Vue.set(this.snackbarQueue, this.uniqueSnackbarId, {
				...snackbar,
				...{
					id: this.uniqueSnackbarId,
					isActive: true,
					buttonFunctionCalled: false
				}
			});
			const uniqueId = this.uniqueSnackbarId;
			setTimeout(() => {
				if (this.snackbarQueue[uniqueId]) {
					if (
						!this.snackbarQueue[uniqueId].buttonFunctionCalled &&
						snackbar.afterCloseFunction
					) {
						snackbar.afterCloseFunction();
					}
					Vue.delete(this.snackbarQueue, uniqueId);
				}
			}, 5000);
		}
	}
}
</script>
