<template>
	<v-system-bar
		v-if="topBar.active"
		id="topBar"
		:color="topBar.color"
		height="30"
		app
		dark
	>
		<span id="topBarText">{{ topBar.text }}</span>
		<v-progress-linear
			:color="`${topBar.color} lighten-4`"
			indeterminate
			absolute
			striped
			bottom
		></v-progress-linear>
	</v-system-bar>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class TopBar extends Vue {
	get topBar(): boolean {
		return this.$store.state.topBar;
	}
}
</script>
