<template>
	<v-card class="ma-auto mt-5">
		<v-card-title primary-title class="justify-center primary">
			<div>
				<h3 class="headline white--text">Groups</h3>
			</div>
		</v-card-title>
		<v-divider></v-divider>
		<v-data-table
			id="groupListTable"
			ref="groupListTable"
			:headers="groupListHeaders"
			:items="groups"
			:sort-by="['name']"
			:mobile-breakpoint="0"
			:hide-default-footer="groups.length <= 5"
		>
			<template #[`item.name`]="{ item }">
				<v-edit-dialog v-if="item.name !== 'admin'">
					{{ item.name }}
					<template #input>
						<v-text-field
							:id="`groupEditNameField`"
							v-model="item.name"
							:rules="[
								v => !!v || 'Name is required',
								v => uniqueRule(v, groups, false)
							]"
							maxlength="256"
							label="Name"
							single-line
							@change="
								if (item.name) {
									upsertGroup(item);
								}
							"
						></v-text-field>
					</template>
				</v-edit-dialog>
				<div v-else>{{ item.name }}</div>
			</template>
			<template #[`item.actions`]="{ item }">
				<v-icon
					v-if="item.name !== 'admin'"
					color="error"
					class="ma-2"
					@click="deleteGroup(item)"
					>{{ mdiDelete }}</v-icon
				>
			</template>
		</v-data-table>
		<div class="text-center">
			<v-btn
				:id="`addGroupButton`"
				rounded
				:class="`mr-auto mt-0 mb-2 ml-auto`"
				color="primary"
				small
				@mousedown="openGroupCreationDialog"
				>Add Group</v-btn
			>
		</div>
		<v-dialog v-model="createGroupDialog" width="unset">
			<v-card :id="`createGroupDialog`">
				<v-card-text>
					<v-text-field
						:id="`groupCreateDescriptionField`"
						v-model="newGroupName"
						maxlength="256"
						label="Name"
						:rules="[
							v => !!v || 'Name is required',
							v => uniqueRule(v, groups, true)
						]"
						single-line
						@change="upsertGroup({ name: newGroupName })"
					></v-text-field>
				</v-card-text>
			</v-card>
		</v-dialog>
	</v-card>
</template>
<script lang="ts">
import { Component } from 'vue-property-decorator';
import { AxiosResponse } from 'axios';
import { mdiDelete } from '@mdi/js';
import { Mixins } from 'vue-mixin-decorator';
import ChangePassword from '../Auth/ChangePassword.vue';
import UserMixin from '../../mixins/User';
import ProxyMixin from '../../mixins/Proxy';

interface MultiMixin extends UserMixin, ProxyMixin {}
@Component({ components: { ChangePassword } })
export default class GroupList extends Mixins<MultiMixin>(
	UserMixin,
	ProxyMixin
) {
	mdiDelete = mdiDelete;

	groupListHeaders = [
		{ text: 'Name', value: 'name', sortable: false },
		{ text: 'Actions', value: 'actions', sortable: false }
	];

	createGroupDialog = false;

	newGroupName = '';

	deleteGroup(group: Group): void {
		this.$store.state.snackbar = {
			text: `${group.name} has been deleted`,
			color: 'info',
			buttonText: 'Undo',
			buttonFunction: () => this.setGroupActiveLocal(group, true),
			afterCloseFunction: () => this.setGroupActiveServer(group, false)
		};
		return this.setGroupActiveLocal(group, false);
	}

	openGroupCreationDialog(): void {
		this.newGroupName = '';
		this.createGroupDialog = true;
	}

	setGroupActiveLocal(group: Group, isActive: boolean): void {
		if (group.id) {
			this.$store.state.groups[group.id].isActive = isActive;
		}
	}

	setGroupActiveServer(
		group: Group,
		isActive: boolean
	): Promise<AxiosResponse> {
		return this.$store.state.http
			.patch(
				`groups/${group.id}/update/`,
				{ isActive },
				{
					headers: {
						Authorization: `Token ${this.$store.state.token}`
					}
				}
			)
			.catch(() => this.axiosFailed());
	}

	created(): void {
		this.getGroups();
	}

	get groups(): Array<Group> {
		const groupsToArray = Object.keys(this.$store.state.groups).map(
			groupKey => this.$store.state.groups[groupKey]
		);
		return groupsToArray.filter((group: Group) => group.isActive === true);
	}

	uniqueRule = (
		value: string,
		groups: Array<Group>,
		creating: boolean
	): boolean | string => {
		const groupLimit = creating ? 1 : 2;
		return (
			groups
				.filter(group => group)
				.map(group => group.name)
				.filter(groupName => groupName === value).length < groupLimit ||
			`Group name must be unique`
		);
	};

	upsertGroup(group: Group): Promise<void> | null {
		if (group.id) {
			if (this.uniqueRule(group.name, this.groups, false) !== true) {
				return null;
			}
			return this.$store.state.http
				.patch(
					`groups/${group.id}/update/`,
					{ name: group.name },
					{
						headers: {
							Authorization: `Token ${this.$store.state.token}`
						}
					}
				)
				.then(() => {
					this.createGroupDialog = false;
				})
				.catch(() => this.axiosFailed());
		}
		if (this.uniqueRule(group.name, this.groups, true) !== true) {
			return null;
		}
		return this.$store.state.http
			.post(`groups/`, group, {
				headers: {
					Authorization: `Token ${this.$store.state.token}`
				}
			})
			.then((response: AxiosResponse) => {
				this.addNewGroup(response.data[0]);
				this.createGroupDialog = false;
			})
			.catch(() => this.axiosFailed());
	}

	addNewGroup(group: Group): void {
		const { groups } = this;
		groups.push(group);
	}
}
</script>
