<template>
	<v-card class="ma-auto mt-5">
		<v-dialog
			id="changePasswordDialog"
			v-model="changePasswordDialog"
			max-width="290"
		>
			<change-password
				:admin="true"
				:user-id="selectedUser.id"
				@close-dialog="closeDialog"
			></change-password>
		</v-dialog>

		<v-dialog
			id="editUserDialog"
			v-model="editUserDialog"
			max-width="500px"
		>
			<v-card>
				<v-card-title>
					<span id="editUserDialogHeader" class="headline"
						>Edit {{ selectedUser.displayName }}</span
					>
				</v-card-title>

				<v-card-text>
					<v-select
						id="editUserDialogGroupInput"
						v-model="selectedUser.groups"
						:items="groups"
						multiple
						item-text="name"
						label="Group"
						return-object
						@change="updateUserGroup(selectedUser)"
					></v-select>
					<v-row class="mt-5">
						<v-btn
							id="openChangePasswordDialogButton"
							class="ma-auto mb-3"
							@click="changePasswordDialog = true"
							>Change Password
						</v-btn></v-row
					>
				</v-card-text>
			</v-card>
		</v-dialog>
		<v-card-title primary-title class="justify-center primary">
			<div>
				<h3 class="headline white--text">Users</h3>
			</div>
		</v-card-title>
		<v-divider></v-divider>
		<v-data-table
			id="userListTable"
			ref="userListTable"
			:headers="userListHeaders"
			:items="users"
			:sort-by="['username']"
			:mobile-breakpoint="0"
			:hide-default-footer="users.length <= 5"
		>
			<template #[`item.actions`]="{ item }">
				<v-icon
					v-if="!isCurrentUser(item.id)"
					class="ma-2"
					@click="editUser(item)"
					>{{ mdiPencil }}</v-icon
				>
				<v-icon
					v-if="!isCurrentUser(item.id)"
					color="error"
					class="ma-2"
					@click="deleteUser(item)"
					>{{ mdiAccountRemove }}</v-icon
				>
			</template>
		</v-data-table>
	</v-card>
</template>
<script lang="ts">
import { Component } from 'vue-property-decorator';
import { AxiosResponse } from 'axios';
import { mdiAccountRemove, mdiPencil } from '@mdi/js';
import { Mixins } from 'vue-mixin-decorator';
import ChangePassword from '../Auth/ChangePassword.vue';
import UserMixin from '../../mixins/User';
import ProxyMixin from '../../mixins/Proxy';

interface MultiMixin extends UserMixin, ProxyMixin {}
@Component({ components: { ChangePassword } })
export default class UserList extends Mixins<MultiMixin>(
	UserMixin,
	ProxyMixin
) {
	mdiAccountRemove = mdiAccountRemove;

	mdiPencil = mdiPencil;

	changePasswordDialog = false;

	editUserDialog = false;

	selectedUser: Partial<User> = {
		groups: [{ name: '', id: 0, isActive: true }]
	};

	userListHeaders = [
		{ text: 'Name', value: 'displayName', sortable: false },
		{ text: 'Username', value: 'username', sortable: false },
		{ text: 'Groups', value: 'groupsString', sortable: false },
		{ text: 'Actions', value: 'actions', sortable: false }
	];

	closeDialog(): void {
		this.changePasswordDialog = false;
	}

	isCurrentUser(userId: number): boolean {
		if (userId === this.$store.state.user.id) {
			return true;
		}
		return false;
	}

	editUser(user: User): void {
		this.selectedUser = user;
		this.editUserDialog = true;
	}

	deleteUser(user: User): void {
		this.$store.state.snackbar = {
			text: `${user.displayName} has been deleted`,
			color: 'info',
			buttonText: 'Undo',
			buttonFunction: () => this.setUserActiveLocal(user, true),
			afterCloseFunction: () => this.setUserActiveServer(user, false)
		};
		return this.setUserActiveLocal(user, false);
	}

	setUserActiveLocal(user: User, isActive: boolean): void {
		if (user.id) {
			this.$store.state.users[user.id].isActive = isActive;
		}
	}

	setUserActiveServer(user: User, isActive: boolean): Promise<AxiosResponse> {
		return this.$store.state.http
			.patch(
				`users/${user.id}/update/`,
				{ isActive },
				{
					headers: {
						Authorization: `Token ${this.$store.state.token}`
					}
				}
			)
			.catch(() => this.axiosFailed());
	}

	created(): void {
		this.getUsers();
	}

	updateUserGroup(user: User): Promise<AxiosResponse> {
		return this.$store.state.http
			.patch(
				`users/${user.id}/update/`,
				{ groups: user.groups.map(group => group.id) },
				{
					headers: {
						Authorization: `Token ${this.$store.state.token}`
					}
				}
			)
			.catch(() => this.axiosFailed());
	}

	get users(): Array<User> {
		const usersToArray = Object.keys(this.$store.state.users).map(
			userKey => {
				const user = this.$store.state.users[userKey];
				if (user.groups && user.groups.length) {
					user.groupsString = user.groups
						.filter(
							(group: Group) =>
								this.$store.state.groups[group.id] &&
								this.$store.state.groups[group.id].isActive
						)
						.map((group: Group) => group.name)
						.toString();
				} else {
					user.groupsString = '';
				}

				return user;
			}
		);
		return usersToArray.filter((user: User) => user.isActive === true);
	}

	get groups(): Array<Group> {
		const groupsToArray = Object.keys(this.$store.state.groups).map(
			groupKey => this.$store.state.groups[groupKey]
		);
		return groupsToArray.filter((group: Group) => group.isActive === true);
	}
}
</script>
