<template>
	<v-app>
		<sidebar />
		<v-main>
			<v-container class="fill-height ma-0 pa-0" fluid>
				<router-view></router-view>
			</v-container>
		</v-main>
	</v-app>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Sidebar from '../components/Sidebar.vue';

@Component({ components: { Sidebar } })
export default class DefaultLayout extends Vue {}
</script>
