<template>
	<v-form
		id="passwordChangeForm"
		ref="passwordChangeForm"
		v-model="changePasswordValid"
	>
		<v-card class="pa-4">
			<v-text-field
				v-if="!admin"
				id="oldPasswordInput"
				v-model="oldPassword"
				:append-icon="showOldPassword ? mdiEyeIcon : mdiEyeOffIcon"
				:type="showOldPassword ? 'text' : 'password'"
				:rules="[
					v => !!v || 'Old Password is required',
					v =>
						v.length >= 6 ||
						'Password must be at least 6 characters'
				]"
				:error-messages="oldPasswordErrors"
				label="Old Password"
				required
				autofocus
				@click:append="showOldPassword = !showOldPassword"
				@keyup.enter="
					if (changePasswordValid) {
						changePassword();
					}
				"
			></v-text-field>

			<v-text-field
				id="passwordInput"
				v-model="newPassword"
				:append-icon="showNewPassword ? mdiEyeIcon : mdiEyeOffIcon"
				:type="showNewPassword ? 'text' : 'password'"
				:rules="[
					v => !!v || 'New Password is required',
					v =>
						v.length >= 6 ||
						'Password must be at least 6 characters',
					...passwordRules
				]"
				:error-messages="newPasswordErrors"
				:autofocus="admin"
				label="New Password"
				required
				@click:append="showNewPassword = !showNewPassword"
				@keyup.enter="
					if (changePasswordValid) {
						changePassword();
					}
				"
			></v-text-field>

			<v-text-field
				id="confirmPasswordInput"
				v-model="confirmPassword"
				:append-icon="showConfirmPassword ? mdiEyeIcon : mdiEyeOffIcon"
				:type="showConfirmPassword ? 'text' : 'password'"
				:rules="[
					v => !!v || 'Password confirmation is required',
					v =>
						v.length >= 6 ||
						'Password must be at least 6 characters',
					...passwordRules
				]"
				rows="1"
				label="Confirm New Password"
				required
				@click:append="showConfirmPassword = !showConfirmPassword"
				@keyup.enter="
					if (changePasswordValid) {
						changePassword();
					}
				"
			></v-text-field>
			<div class="text-center">
				<v-btn
					id="changePasswordButton"
					:disabled="!changePasswordValid"
					color="primary"
					@click="changePassword"
					>Change Password</v-btn
				>
			</div>
		</v-card>
	</v-form>
</template>

<script lang="ts">
import { Component, Vue, Watch, Prop } from 'vue-property-decorator';
import { mdiEye, mdiEyeOff } from '@mdi/js';
import { AxiosError } from 'axios';

@Component({})
export default class ChangePassword extends Vue {
	@Prop(Boolean) readonly admin: boolean | undefined;

	@Prop(Number) readonly userId: number | undefined;

	oldPassword = '';

	mdiEyeIcon: string = mdiEye;

	mdiEyeOffIcon: string = mdiEyeOff;

	newPassword = '';

	confirmPassword = '';

	showOldPassword = false;

	showNewPassword = false;

	showConfirmPassword = false;

	changePasswordValid = true;

	newPasswordErrors: Array<string> = [];

	oldPasswordErrors: Array<string> = [];

	changePasswordDialog = false;

	$refs!: {
		passwordChangeForm: HTMLFormElement;
	};

	@Watch('oldPassword')
	revalidateOnOldPasswordChange(): void {
		this.validateField();
	}

	@Watch('newPassword')
	revalidateOnPasswordChange(): void {
		this.validateField();
	}

	@Watch('confirmPassword')
	revalidateOnConfirmPasswordChange(): void {
		this.validateField();
	}

	validateField(): void {
		this.newPasswordErrors = [];
		this.oldPasswordErrors = [];
		this.$refs.passwordChangeForm.validate();
	}

	get passwordRules(): ((v: string) => boolean | 'Values do not match')[] {
		const rules = [];
		if (this.confirmPassword) {
			const rule = (v: string) =>
				(!!v && v) === this.confirmPassword || 'Values do not match';
			rules.push(rule);
		}
		return rules;
	}

	changePassword(): Promise<void> {
		if (this.admin) {
			return this.$store.state.http
				.post(
					'change-password-admin/',
					{
						userId: this.userId,
						new_password1: this.newPassword,
						new_password2: this.newPassword
					},
					{
						headers: {
							Authorization: `Token ${this.$store.state.token}`
						}
					}
				)
				.then(() => this.changePasswordSuccess())
				.catch((err: AxiosError) => this.changePasswordFailed(err));
		}
		return this.$store.state.http
			.post(
				'change-password/',
				{
					new_password1: this.newPassword,
					new_password2: this.newPassword,
					old_password: this.oldPassword
				},
				{
					headers: {
						Authorization: `Token ${this.$store.state.token}`
					}
				}
			)
			.then(() => this.changePasswordSuccess())
			.catch((err: AxiosError) => this.changePasswordFailed(err));
	}

	changePasswordSuccess(): void {
		this.oldPassword = '';
		this.newPassword = '';
		this.confirmPassword = '';
		this.$refs.passwordChangeForm.resetValidation();
		this.$emit('close-dialog');
		this.$store.state.snackbar = {
			text: 'Password changed!',
			color: 'success'
		};
	}

	changePasswordFailed(err: AxiosError): void {
		if (err.response) {
			this.oldPasswordErrors = err.response.data.old_password;
			this.newPasswordErrors = err.response.data.new_password;
			if (err.response.data.non_field_errors) {
				this.$store.state.snackbar = {
					text: err.response.data.non_field_errors[0],
					color: 'error'
				};
			}
		} else {
			this.$store.state.snackbar = {
				text: 'There was a problem connecting to the backend server',
				color: 'error'
			};
		}
	}
}
</script>
