<template>
	<v-form id="loginForm" ref="loginForm" v-model="loginValid">
		<v-container>
			<v-row>
				<v-col cols="12" sm="6">
					<v-text-field
						id="loginUsernameInput"
						v-model="username"
						:rules="[v => !!v || 'Username is required']"
						:error-messages="userNameErrors"
						label="Username"
						required
						autofocus
						@keyup.enter="
							if (loginValid) {
								validate();
							}
						"
					></v-text-field>
				</v-col>
				<v-col cols="12" sm="6">
					<v-text-field
						id="loginPasswordInput"
						v-model="password"
						:append-icon="showPassword ? mdiEyeIcon : mdiEyeOffIcon"
						:type="showPassword ? 'text' : 'password'"
						:rules="[
							v => !!v || 'Password is required',
							v =>
								v.length >= 6 ||
								'Password must be at least 6 characters'
						]"
						:error-messages="passwordErrors"
						label="Password"
						required
						@click:append="showPassword = !showPassword"
						@keyup.enter="
							if (loginValid) {
								validate();
							}
						"
					></v-text-field>
				</v-col>
			</v-row>
			<div class="text-center">
				<v-btn
					id="loginButton"
					:disabled="!loginValid"
					:loading="loggingIn"
					color="primary"
					@click="validate"
					>Login</v-btn
				>
			</div>
		</v-container>
	</v-form>
</template>

<script lang="ts">
import { Component, Watch } from 'vue-property-decorator';
import { mdiEye, mdiEyeOff } from '@mdi/js';
import { AxiosError } from 'axios';
import { Mixins } from 'vue-mixin-decorator';
import User from '../../mixins/User';
import Proxy from '../../mixins/Proxy';

interface MultiMixin extends User, Proxy {}
@Component
export default class Login extends Mixins<MultiMixin>(User, Proxy) {
	loginValid = true;

	username = '';

	loggingIn = false;

	password = '';

	showPassword = false;

	userNameErrors = [];

	passwordErrors = [];

	mdiEyeIcon: string = mdiEye;

	mdiEyeOffIcon: string = mdiEyeOff;

	$refs!: {
		loginForm: HTMLFormElement;
	};

	@Watch('username')
	updateUsernameErrors(): void {
		this.userNameErrors = [];
	}

	@Watch('password')
	updatePasswordErrors(): void {
		this.passwordErrors = [];
	}

	validate(): void {
		if (this.$refs.loginForm.validate()) {
			this.login();
		}
	}

	login(): Promise<void> {
		this.loggingIn = true;
		return this.$store.state.http
			.post('login/', {
				username: this.username,
				password: this.password
			})
			.then((response: LoginResponse) => {
				this.loggingIn = false;
				return this.loginSuccess(response);
			})
			.catch((err: AxiosError) => {
				this.loggingIn = false;
				return this.loginFailed(err);
			});
	}

	loginFailed(err: AxiosError): void {
		if (err.response) {
			this.userNameErrors = err.response.data.username;
			this.passwordErrors = err.response.data.password;
		}
		return this.axiosFailed(err);
	}
}
</script>
