<template>
	<v-form id="registerForm" ref="registerForm" v-model="registerValid">
		<v-container>
			<v-row>
				<v-col cols="12" sm="12">
					<v-text-field
						id="registerUsernameInput"
						v-model="username"
						:rules="[v => !!v || 'Username is required']"
						:error-messages="userNameErrors"
						label="Username"
						required
						autofocus
						@keyup.enter="
							if (registerValid) {
								validate();
							}
						"
					></v-text-field>
				</v-col>
			</v-row>
			<v-row>
				<v-col cols="12" sm="12">
					<v-text-field
						id="registerDisplayNameInput"
						v-model="displayName"
						:rules="[v => !!v || 'Display name is required']"
						:error-messages="displayNameErrors"
						maxlength="256"
						label="Display Name"
						required
						@keyup.enter="
							if (registerValid) {
								validate();
							}
						"
					></v-text-field>
				</v-col>
			</v-row>
			<v-row>
				<v-col cols="12" sm="6">
					<v-text-field
						id="registerPasswordInput"
						v-model="password"
						:append-icon="showPassword ? mdiEyeIcon : mdiEyeOffIcon"
						:type="showPassword ? 'text' : 'password'"
						:rules="[
							v => !!v || 'Password is required',
							v =>
								v.length >= 6 ||
								'Password must be at least 6 characters',
							...passwordRules
						]"
						:error-messages="passwordErrors"
						label="Password"
						required
						@click:append="showPassword = !showPassword"
						@keyup.enter="
							if (registerValid) {
								validate();
							}
						"
					></v-text-field>
				</v-col>
				<v-col cols="12" sm="6">
					<v-text-field
						id="registerConfirmPasswordInput"
						v-model="confirmPassword"
						:append-icon="
							showConfirmPassword ? mdiEyeIcon : mdiEyeOffIcon
						"
						:type="showConfirmPassword ? 'text' : 'password'"
						:rules="[
							v => !!v || 'Password confirmation is required',
							v =>
								v.length >= 6 ||
								'Password must be at least 6 characters',
							...passwordRules
						]"
						rows="1"
						label="Confirm Password"
						required
						@click:append="
							showConfirmPassword = !showConfirmPassword
						"
						@keyup.enter="
							if (registerValid) {
								validate();
							}
						"
					></v-text-field>
				</v-col>
			</v-row>
			<div class="text-center">
				<v-btn
					id="registerButton"
					:disabled="!registerValid"
					:loading="registering"
					color="primary"
					@click="validate"
					>Register</v-btn
				>
			</div>
		</v-container>
	</v-form>
</template>

<script lang="ts">
import { Component, Watch } from 'vue-property-decorator';
import { mdiEye, mdiEyeOff } from '@mdi/js';
import { AxiosError } from 'axios';
import { Mixins } from 'vue-mixin-decorator';
import User from '../../mixins/User';
import Proxy from '../../mixins/Proxy';

interface MultiMixin extends User, Proxy {}
@Component({ components: {} })
export default class Register extends Mixins<MultiMixin>(User, Proxy) {
	username = '';

	displayName = '';

	password = '';

	confirmPassword = '';

	showPassword = false;

	showConfirmPassword = false;

	registerValid = true;

	userNameErrors: Array<string> = [];

	displayNameErrors: Array<string> = [];

	passwordErrors: Array<string> = [];

	mdiEyeIcon: string = mdiEye;

	mdiEyeOffIcon: string = mdiEyeOff;

	registering = false;

	$refs!: {
		registerForm: HTMLFormElement;
	};

	get passwordRules(): ((v: string) => true | 'Values do not match')[] {
		const rules = [];
		if (this.confirmPassword) {
			const rule = (v: string) =>
				(!!v && v) === this.confirmPassword || 'Values do not match';
			rules.push(rule);
		}
		return rules;
	}

	@Watch('username')
	updateUsernameErrors(): void {
		this.userNameErrors = [];
	}

	@Watch('displayName')
	updateDisplayNameErrors(): void {
		this.displayNameErrors = [];
	}

	@Watch('password')
	revalidateOnPasswordChange(): void {
		this.validateField();
	}

	@Watch('confirmPassword')
	revalidateOnConfirmPasswordChange(): void {
		this.validateField();
	}

	validate(): void {
		if (this.$refs.registerForm.validate()) {
			this.register();
		}
	}

	register(): Promise<void> {
		this.registering = true;
		const userData = {
			username: this.username,
			displayName: this.displayName,
			password1: this.password,
			password2: this.password
		};
		return this.$store.state.http
			.post('registration/', userData)
			.then((response: LoginResponse) => {
				this.registering = false;
				return this.loginSuccess(response);
			})
			.catch((err: AxiosError) => {
				this.registering = false;
				return this.registerFailed(err);
			});
	}

	registerFailed(err: AxiosError): void {
		if (err.response) {
			this.userNameErrors = err.response.data.username;
			this.displayNameErrors = err.response.data.displayName;
			this.passwordErrors = err.response.data.password1;
		}
		return this.axiosFailed(err);
	}

	validateField(): void {
		this.passwordErrors = [];
		this.$refs.registerForm.validate();
	}
}
</script>
