<template>
	<v-app>
		<topBar />
		<snackbar />
		<router-view />
	</v-app>
</template>

<script lang="ts">
import { Component, Watch } from 'vue-property-decorator';
import { Mixins } from 'vue-mixin-decorator';
import Snackbar from './components/Snackbar.vue';
import TopBar from './components/TopBar.vue';
import UserMixin from './mixins/User';
import ProxyMixin from './mixins/Proxy';

interface MultiMixin extends UserMixin, ProxyMixin {}
@Component({ components: { Snackbar, TopBar } })
export default class App extends Mixins<MultiMixin>(UserMixin, ProxyMixin) {
	get isActive(): boolean {
		return this.$store.state.user.isActive;
	}

	@Watch('isActive')
	updateUserActive(isActive: boolean | undefined): void {
		if (!isActive && this.$store.state.user.id !== null) {
			this.logout();
			this.$store.state.snackbar = {
				text: 'An admin has disabled your account',
				color: 'info'
			};
		}
	}

	created(): void {
		this.$store.commit('WS_CONNECT');
	}
}
</script>
