<template>
	<v-row id="adminPage">
		<user-list></user-list>
		<group-list></group-list>
	</v-row>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator';
import { Mixins } from 'vue-mixin-decorator';
import ChangePassword from '../components/Auth/ChangePassword.vue';
import UserList from '../components/Admin/UserList.vue';
import GroupList from '../components/Admin/GroupList.vue';

import ProxyMixin from '../mixins/Proxy';

@Component({ components: { ChangePassword, UserList, GroupList } })
export default class Admin extends Mixins<ProxyMixin>(ProxyMixin) {}
</script>
