<template>
	<div class="ma-auto">
		<v-card>
			<v-tabs
				v-model="tab"
				grow
				hide-slider
				background-color="primary"
				light
			>
				<v-tab href="#login-tab">Sign In</v-tab>
				<v-tab href="#register-tab">Register</v-tab>
				<v-tabs-items v-model="tab">
					<v-tab-item key="first" value="login-tab">
						<login ref="login"></login>
					</v-tab-item>
					<v-tab-item value="register-tab">
						<register ref="register"></register>
					</v-tab-item>
				</v-tabs-items>
			</v-tabs>
		</v-card>
	</div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator';
import { Mixins } from 'vue-mixin-decorator';
import Login from '../components/Auth/Login.vue';
import Register from '../components/Auth/Register.vue';
import ProxyMixin from '../mixins/Proxy';

@Component({ components: { Login, Register } })
export default class Auth extends Mixins<ProxyMixin>(ProxyMixin) {
	tab = '';
}
</script>
