<template>
	<v-row id="mySettingsPage" class="ma-auto">
		<v-dialog
			id="changePasswordDialog"
			v-model="changePasswordDialog"
			max-width="290"
		>
			<change-password
				:admin="false"
				@close-dialog="closeDialog"
			></change-password>
		</v-dialog>
		<v-card class="ma-auto mt-5">
			<v-card-title primary-title class="justify-center primary">
				<div>
					<h3 class="headline white--text">User Settings</h3>
				</div>
			</v-card-title>
			<v-row>
				<v-form
					id="displayNameForm"
					ref="displayNameForm"
					v-model="displayNameValid"
					@submit.prevent
				>
					<v-text-field
						id="displayNameInput"
						v-model="displayName"
						:rules="[v => !!v || 'Display name can\'t be blank']"
						maxlength="256"
						class="ma-5"
						label="Display Name"
						required
						@change="
							if (displayNameValid) {
								validateDisplayName();
							}
						"
					></v-text-field>
				</v-form>
			</v-row>
			<v-divider></v-divider>

			<v-row class="ma-5">
				<v-btn
					id="openChangePasswordDialogButton"
					class="ma-auto mb-3"
					@click="changePasswordDialog = true"
					>Change Password
				</v-btn></v-row
			>
		</v-card>
	</v-row>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator';
import { Mixins } from 'vue-mixin-decorator';
import { AxiosResponse } from 'axios';
import ChangePassword from '../components/Auth/ChangePassword.vue';
import Proxy from '../mixins/Proxy';

@Component({ components: { ChangePassword } })
export default class User extends Mixins<Proxy>(Proxy) {
	displayName: string = this.$store.state.user.displayName;

	displayNameValid = true;

	$refs!: {
		displayNameForm: HTMLFormElement;
	};

	changePasswordDialog = false;

	validateDisplayName(): void {
		if (this.$refs.displayNameForm.validate()) {
			this.updateDisplayName();
		}
	}

	closeDialog(): void {
		this.changePasswordDialog = false;
	}

	updateDisplayName(): AxiosResponse {
		return this.$store.state.http
			.patch(
				`users/${this.$store.state.user.id}/update/`,
				{
					displayName: this.displayName
				},
				{
					headers: {
						Authorization: `Token ${this.$store.state.token}`
					}
				}
			)
			.catch(() => this.axiosFailed());
	}

	getStateUserDisplayName = (state: State): string | null =>
		state.user.displayName;

	updateDisplayNameFromStore(displayName: string | null): void {
		if (displayName) {
			this.displayName = displayName;
		}
	}

	unwatchGetStateUserDisplayName = this.$store.watch(
		this.getStateUserDisplayName,
		this.updateDisplayNameFromStore
	);

	beforeDestroy(): void {
		this.unwatchGetStateUserDisplayName();
	}
}
</script>
